/*Inline block for altmetric badges, will keep the badges in the same line*/
span.__dimensions_badge_embed__, div.altmetric-embed {
  display: inline-flex;
  vertical-align: middle;
}

/* title */
.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em !important;
}

/* subtitle + Learn More About Me */
.subtitle {
  font-family: "Petrona";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
